---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {% if site.category.size > 0 %}
    <div class="category-list">
      {% for cat in site.category %}
          <div class="category-image" style="background-image: url(/assets/thumbs/categorypix/{{cat.image}}.jpg)">
            <div class="category-text">
              <div class="category-number"> {{ cat.trail_section_human }}</div>
              <div class="category-slidein"> | <a class="category-name" href="{{ cat.permalink }}">{{ cat.name }}</a></div>
            </div>
          </div>
      {% endfor %}
    </div>
  {% endif %}

</div>
